<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'title' | trans }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('app.css') }}" type="text/css" />
        <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="{{ asset('jquery.min.js') }}"></script>
    <script src="{{ asset('app.js') }}"></script>
    {% block javascript %}{% endblock %}
</html>
